<main class="main is-container">
  <div class="main-sidebar header-spacer">
    <nav class="tabs" data-kube="tabs">
      <ul class="menu is-unstyled">
        <li>
          <a href="#robust-software-delivery">Robust Stoftware delivey</a>
        </li>
        <li>
          <a href="#modular-and-decoupled-architecture">Modular and decoupled architecture</a>
        </li>
        <li>
          <a href="#build-and-deploy-your-stack">Deploy and own your architecture</a>
        </li>
        <li>
          <a href="#technologies">Technologies</a>
        </li>
        <li>
          <nav class="sub-nav tabs">
            <ul>
              <li>
                <a href="#databases">Databases</a>
              </li>
              <li>
                <a href="#frontend">Frontend</a>
              </li>
              <li>
                <a href="#authentications">Authentication</a>
              </li>
              <li>
                <a href="#message-queues">Message Queues</a>
              </li>
            </ul>
          </nav>

        </li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <div class="is-width-medium main-content is-center is-inset-x-120 is-inset-16-mobile" id="robust-software-delivery">
      <h2>
      Robust Stoftware delivey
      </h2>
      <br/>
      <p class="is-large">
      Sofwares are meant to evolve alongside your business needs.
      </p>
      <p class="is-large">
      Building <i>modular</i>, <i>decoupled</i> applications with a <i>fully automated test suite</i> provide a mean for engineering teams to prototype and build fast and secure applications.
      </p>
      <p class="is-large">
      This is why I chose many years ago to focus my expertise with technologies provided by <a href="https://www.ruby-lang.org/en/">Ruby</a> and <a href="https://rubyonrails.org/">Ruby On Rails.</a>
      </p>
      <ul>
      <li>
      <h5>Why Ruby?</h5>
      <p>
      The <a href="https://www.ruby-lang.org/en/">Ruby</a> community has been thriving for many years and has an impressive array of well written and fully tested libraries.
          </p>
        </li>
      <li>
      <h5>Why Ruby On Rails?</h5>
      <p>
      <a href="https://rubyonrails.org/">Ruby On Rails.</a> is an enterprise grade web framework that is supported by this impressive community, making it easy to build fast and reliable software.
          </p>
        </li>
      </ul>
      <br/>
      <p class="is-large">
      I also believe Continous delivery and Continous Integration are efficient ways to quickly deliver value to your business.
      <br/>
      Delivering features as early as possible, one at a time is a great way to improve features as your business grows.
      </p>
    </div>
    <div class="is-width-medium is-center is-hidden is-inset-x-120 is-inset-16-mobile" id="modular-and-decoupled-architecture">
      <h2>Modular and decoupled architecture</h2>
      <br/>
      <h4>For small businesses</h4>
      <p class="is-large">
      As a small business you probably only need a traditional webstack: a single web based application with its backoffice.
      </p>
      <p class="">
      A single code base and it's databases is offen enough to bootstrap your business, it however still ought to be well written and fully tested, ensuring maintainabilty and flexibity for your sofware to be improved over time by any developer or engineering team.
      <!-- Sometime there are often integrated solutions that we can leverage to improve cost and delivery time.
     Shopify is one great exam -->
      </p>
      <br/>
      <h4>For larger businesses</h4>
      <p class="is-large">
      Sometimes simple is not enough, and your business requirements are more complex and needs to be addressed using different types of technologies.
      </p>
      <p class="">
      This is when microservice architecture become very handy.
      <br/>
      Small applications are much easier to maintain and evolve.
      <br/>
      They do <i>one thing</i> and they <i>do it well</i>, they're easier to understand and easier to reuse with other parts of your infrastructure.
      <blockquote>
      <p>
      The main idea behind microservices architecture is that some types of applications become easier to build and maintain when they are broken down into smaller, composable pieces which work together. In other words, each component is developed separately, and the application is then simply the sum of its constituent components.
      In a microservices architecture, each service runs a unique process and usually manages its own database. This not only provides development teams with a more decentralized approach to building software, it also allows each service to be deployed, rebuilt, redeployed and managed independently.
          </p>
      <p>
      <small>
      <a target="_blank" href="https://dzone.com/articles/benefits-amp-examples-of-microservices-architectur">credits: Ekaterina Novoseltseva</a>
            </small>
          </p>
        </blockquote>
      Composable architechures also allows to scale, tune and optimise the cost of your infrastructure.
      </p>

      <p>
      This comes at a cost: a high cognitive load for your engineering teams.
      <br/>
      However there is now tools such as <a href="https://www.docker.com/">Docker</a> and its ecosystem to enable to your team to build in more complex environments allowing application developer to focus on more complex scenarios to solve your business needs.
      </p>
    </div>
    <div class="is-width-medium is-center is-hidden is-inset-x-120" id="build-and-deploy-your-stack">
      <h2>Build and deploy your stack</h2>
      <p class="is-large">
      Deploy your applications on <a href="https://www.heroku.com/">Heroku</a>. It is a very simple time and cost efficient for small business to deploy their applications.
      It's hassle free, developper friendly. No needs for system administrators or devops.
      </p>

      <p class="is-large">
      Deploy your applications on <a href="https://www.heroku.com/">AWS</a>, if your architecture needs to handle more traffic, higher work loads or you want to leverage the powerful components of AWS.
      </p>
    </div>
    <div class="is-width-medium is-center is-inset-x-120" id="technologies">
      <h2>Technologies</h2>
      <p>I have professional experiennce with following technologies</p>
      <nav class="">
        <ul>
          <li>
            <a href="#databases">Databases</a>
          </li>
          <li>
            <a href="#frontend">Frontend</a>
          </li>
          <li>
            <a href="#authentications">Authentication</a>
          </li>
          <li>
            <a href="#message-queues">Message Queues</a>
          </li>
        </ul>
      </nav>

    </div>

    <div class="is-width-medium is-center is-inset-x-120" id="databases">
      <div >
        <h4>Databases</h4>
        <ul>
          <li>
            <a href="https://www.postgresql.org/">PosgreSQL</a>
            <p>
              Postgresql is a well known and very widely used database. It's supported by Heroku and AWS out of the box.
            </p>
          </li>
          <li>
            <a href="https://redis.io/">Redis</a>
            <p>
              A very fast key-value datastore. It's very used for caching raw data, HTML. It's supports many different optimised ways of storing data and is often background processing or offline jobs.
            </p>
          </li>
          <li>
            <a href="https://www.elastic.co/">ElasticSearch</a>
            <p>
              Powerful search engine powering many of search functionalities accross the web.
            </p>
          </li>
          <li>
            <a href="https://www.mongodb.com/">MongoDB</a>
            <p>
              A Schema less database. Very popular accross the javascript developers. Perfect fit for complex denormalised data structures.
            </p>
          </li>
          <li>
            <a href="http://cassandra.apache.org/">Cassandra</a>
            <p>
              Built by <a href="https://developers.facebook.com/">Facebook</a> this the perfect datastore for your very large dataset. It's designed to handle huge denormalised dataset and is fault tolerant.
              It however requires to have a very good knowledge of the how the data is going to be queried. It is often required to denormalise the same data in various ways to yield its best performance.
              This is a perfect store for Data Warehousing and Event Sourcing.
            </p>
          </li>
        </ul>
      </div>

    </div>
    <div class="is-width-medium is-center is-inset-x-120" id="authentications">
      <div>
        <h4>Authentication</h4>
        <ul>
          <li>
            <a href="https://github.com/plataformatec/devise">Devise</a>
            <p>
              A powerful authentication library that supports many pattern and workflows. It's customisable, widely used and has a great documentation.
            </p>
          </li>
          <li>
            <a href="https://github.com/doorkeeper-gem/doorkeeper">Doorkeeper</a>
            An Oauth authentication provider.
            <br/>
            Perfect if you need to support securet authentication from various sources, like a frontend, a backoffice, mobile applications or integrate with third parties.
          </li>
        </ul>
        <h4>Background processing</h4>
        <ul>
          <li>
            <a href="https://github.com/mperham/sidekiq">Sidekiq</a>
            <p>Very popular, multi-threaded background job proccessing framework fully integrated with Ruby On Rails</p>
          </li>
          <li>
            <a href="http://jondot.github.io/sneakers/">Sneakers</a>
            <p>
              Another less populare message queue processing based of RabbitMQ
              <br/>
              This a great framework to integrate more complex message asynchronous message processing. You can leverage RabbitMQ different messaging patterns.
            </p>
          </li>
        </ul>

      </div>
    </div>
    <div class="is-width-medium is-center is-inset-x-120" id="message-queues">
      <div>
        <h4>Message Queues</h4>
        <ul>
          <li>
            <a href="https://kafka.apache.org/">Kafka</a>
            <p>
              Built by Linkedin, a powerful very fast message queue. It's fault tolerant and very fast.
              It's perfect with very large datasets.
              <br/>
              It however has bring more complexity to your infrastructure.
            </p>
          </li>
          <li>
            <a href="https://www.rabbitmq.com/">RabbitMQ</a>
            <p>
              Another very popular message queue. It's fault tolerant and fast, and support many messaging patterns.
              Easier to manage than Kafka to manage, it's in most case a very good choise when dealing with message based architecture
            </p>
          </li>
          <li>
            <a href="https://www.rabbitmq.com/">RabbitMQ</a>
            <p>
              Another very popular message queue. It's fault tolerant and fast, and support many messaging patterns.
              Easier to manage than Kafka to manage, it's in most case a very good choise when dealing with message based architecture
            </p>
          </li>
          <li>
            <a href="https://github.com/mperham/sidekiq">Sidekiq</a>
            <p>Very popular, multi-threaded background job proccessing framework fully integrated with Ruby On Rails</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="is-width-medium is-center is-inset-x-120" id="frontend">
      <div>
        <h4>Frontend</h4>
        <p>Mobile first CSS frameworks</p>
        <ul>
          <li>
            <a href="https://imperavi.com/kube/">KubeCSS</a>
            <p>
              A mininal CSS framework withs imple and very clean web components.
            </p>
          </li>
          <li>
            <a href="https://getbootstrap.com/">Bootstrap</a>
            <p>
              Very popular framework, probably the on mostly used accross the web for frontend and backoffice applications.
              Very a large range of customisable components
            </p>
          </li>
          <li>
            <a href="https://foundation.zurb.com/">Zurb Foundation</a>
            <p>
              Very similar to Bootstrap, only with a different look and feel.
            </p>
          </li>
        </ul>
      </div>
    </div>

  </div>

</main>
